<app-filtres></app-filtres>

<p-dataTable [value]=" ">
  <p-headerColumnGroup>
    <p-row>
      <p-column header="Sens"></p-column>
      <p-column header="Nature"></p-column>
      <p-column header="Tiers"></p-column>
    </p-row>
    <p-row>
      <p-column header="Revenu" rowspan="6"></p-column>
      <p-column header="Facture" rowspan="5"></p-column>
      <p-column header="Banque Inter"></p-column>
    </p-row>
    <p-row>
      <p-column header="Taliko"></p-column>
    </p-row>
    <p-row>
      <p-column header="MDC"></p-column>
    </p-row>
    <p-row>
      <p-column header="Edu Nat"></p-column>
    </p-row>
    <p-row>
      <p-column header="Facture"></p-column>
    </p-row>
    <p-row>
      <p-column header="Revenu" colspan="2"></p-column>
    </p-row>
    <p-row>
      <p-column header="Charge" rowspan="8"></p-column>
      <p-column header="Facture" rowspan="6"></p-column>
      <p-column header="CHR Aster"></p-column>
    </p-row>
    <p-row>
      <p-column header="PLEXCOFO"></p-column>
    </p-row>
    <p-row>
      <p-column header="By Arch"></p-column>
    </p-row>
    <p-row>
      <p-column header="ICV"></p-column>
    </p-row>
    <p-row>
      <p-column header="AHEAD"></p-column>
    </p-row>
    <p-row>
      <p-column header="Facture"></p-column>
    </p-row>
    <p-row>
      <p-column header="Frais" colspan="2"></p-column>
    </p-row>
    <p-row>
      <p-column header="Charge" colspan="2"></p-column>
    </p-row>
    <p-row>
      <p-column header="Totaux" colspan="3"></p-column>
    </p-row>
    </p-headerColumnGroup>
</p-dataTable>

<p-dataTable [value]="sales">
  <p-headerColumnGroup>
    <p-row>
      <p-column header="Brand" rowspan="3"></p-column>
      <p-column header="Sale Rate" colspan="4"></p-column>
    </p-row>
    <p-row>
      <p-column header="Sales" colspan="2"></p-column>
      <p-column header="Profits" colspan="2"></p-column>
    </p-row>
    <p-row>
      <p-column header="Last Year"></p-column>
      <p-column header="This Year"></p-column>
      <p-column header="Last Year"></p-column>
      <p-column header="This Year"></p-column>
    </p-row>
  </p-headerColumnGroup>

  <p-column field="brand"></p-column>
  <p-column field="lastYearSale"></p-column>
  <p-column field="thisYearSale"></p-column>
  <p-column field="lastYearProfit"></p-column>
  <p-column field="thisYearProfit"></p-column>

  <p-footerColumnGroup>
    <p-row>
      <p-column footer="Totals:" colspan="3"></p-column>
      <p-column footer="$506,202"></p-column>
      <p-column footer="$531,020"></p-column>
    </p-row>
  </p-footerColumnGroup>
</p-dataTable>


