#reporting-table {
    font-size: 11.5px;
}

#reporting-table thead {
    background: #374c61;
    color: white;
}

#reporting-table thead th {
    border: solid white 1px;
}

#reporting-table tbody td {
  border: solid dimgrey 1px;
}
