<div class="form-group">
  <select class="custom-select">
    <option selected="">Janvier</option>
    <option value="1">Février</option>
    <option value="2">Mars</option>
    <option value="3">Avril</option>
    <option value="1">Mai</option>
    <option value="2">Juin</option>
    <option value="3">Juillet</option>
    <option value="1">Aout</option>
    <option value="2">Septembre</option>
    <option value="3">Octobre</option>
    <option value="2">Septembre</option>
    <option value="3">Novembre</option>
    <option value="2">Decembre</option>
    <option value="3">Annuel</option>
  </select>
</div>
