<div class="card border-primary mb-3" style="min-height: 35rem;">
  <div class="card-header text-white bg-primary">Liste des rapports</div>
  <div class="card-body text-primary">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#rep-ca">Chiffre d'affaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#rep-autre">Autre</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="rep-ca">
        <app-reporting-ca></app-reporting-ca>
      </div>
      <div class="tab-pane fade" id="rep-autre">
        <p>Autre reporting</p>
      </div>
    </div>
  </div>
</div>


